<h2>My Patients</h2>
{{mode}}

    <form #f="ngForm" (ngSubmit)="createPatient(f)" novalidate>
      <input name="name" ngModel placeholder="Name" required #first="ngModel">
      <input name="city" ngModel placeholder="City">
      <button>Add</button>
    </form>


<!--app-patient-detail [patientInput]="selectedPatient" (childData)='handleEvent($event)'></app-patient-detail-->
<p>Data from child component : <b>{{ sampleChildData }}</b></p>


<ul class="patients$ | async">
  <li *ngFor="let patient of patients$ | async">
    <span class="badge">{{patient.id}}</span> {{patient.name}} {{patient.city}}
    <button (click)="onSelect(patient)">Edit</button>
    <button (click)="deletePatient(patient)">Delete</button>
  </li>
</ul>

<ul class="patients">
  <li *ngFor="let patient of patients " (click)="onSelect(patient)">
    <span class="badge">{{patient.id}}</span> {{patient.name}}
  </li>
</ul>


